.card-actions-container {
  margin: 0;

  .card-action-button {
    line-height: 0;
    padding: 0;
    min-width: 4rem !important;

    .mat-icon {
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
    }

    &:focus {
      outline: none;
    }
  }
}
