<mat-card-actions class="card-actions-container" [ngClass]="customClass">
  <button class="card-action-button" mat-button (click)="onUpvoteClick()">
    <mat-icon svgIcon="like"></mat-icon>
    {{data?.upVotes}}
  </button>

  <button class="card-action-button" mat-button (click)="onDownvoteClick()">
    <mat-icon svgIcon="dislike"></mat-icon>
    {{data?.downVotes}}
  </button>

  <span *ngIf="data?.createdAt">
    Posted on {{data?.createdAt | date: 'MMMM d y, HH:mm'}}
  </span>
</mat-card-actions>
