<header class="container-fluid w-100 d-flex align-items-center">
  <div class="row w-100">
    <div class="col-10">
      <button class="header-menu-button" mat-button [routerLink]="['/questions']">Home</button>
      <button class="header-menu-button" mat-button [routerLink]="['/questions']">Questions</button>
    </div>

    <div class="col-2 d-flex justify-content-end align-items-center pr-0">
      <img class="user-icon mr-4" matListAvatar src="{{user.avatar}}" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <mat-list class="p-0">
          <mat-list-item>
            <img matListAvatar src="{{user.avatar}}">
            <h2 class="font-weight-bold" matLine> {{user.name}} {{user.surname}}</h2>
          </mat-list-item>
        </mat-list>
      </mat-menu>
    </div>
  </div>
</header>
