.container-fluid {
  width: 100%;
  height: 8rem;
  background: #2f3239;
  color: white;
}

.header-menu-button {
  height: 4rem;

  &:hover {
    background: #ff7361;
    color: white;
  }

  &:focus {
    outline: none;
  }
}

.user-icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
