.card-container {
  min-height: 20rem;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;

  .header-card {
    cursor: pointer !important;
  }

  .card-title {
    margin-bottom: 2rem;
    margin-top: 2rem;
    word-wrap: break-word;
    font-size: 1.8rem;
    line-height: 1.3;
  }

  .custom-input {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-top: 3.2rem;

    input {
      width: 100%;
      padding: 2rem;
      border-radius: 3rem;
      border: 1px solid #e6e6e6;
      background: #f2f3f5;
      height: 5rem;
      font-size: 1.6rem;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
