<mat-card class="card-container">
  <mat-card-header class="header-card" (click)="goToQuestionDetails(question)">
    <mat-card-title class="card-title" [innerHtml]="question?.text"></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-card-action-buttons [data]="question" customClass="pl-5"></app-card-action-buttons>
  </mat-card-content>

  <mat-divider></mat-divider>

  <form [formGroup]="answerForm" (keydown.enter)="onAnswerAdd(answerForm)">
    <app-input placeholder="Enter your answer..." customClass="custom-input" formControlName="newAnswer"></app-input>
  </form>

  <ng-container *ngFor="let answer of question.answers">
    <app-list-item [answer]="answer"></app-list-item>
  </ng-container>
</mat-card>
