.answer-list {
  .answer-item {
    height: auto !important;
    background: #f2f3f5;

    .mat-list-item-content {
      padding: 2rem;
      align-items: start;

      .mat-list-text {
        p {
          white-space: normal;
        }
      }

      .avatar-icon {
        width: 6rem;
        height: 6rem;
      }
    }
  }
}
