<mat-list class="answer-list">
  <mat-list-item class="answer-item" *ngIf="null !== answer?.createdBy">
    <img class="avatar-icon" matListAvatar *ngIf="answer.createdBy?.avatar" src="{{answer.createdBy.avatar}}">
    <img class="avatar-icon" matListAvatar *ngIf="!answer.createdBy?.avatar" src="assets/img/user.svg">
    <h2 class="font-weight-bold" *ngIf="answer.createdBy?.name || answer.createdBy?.surname" matLine> {{answer.createdBy?.name}} {{answer.createdBy?.surname}} </h2>
    <h2 class="font-weight-bold" *ngIf="!(answer.createdBy?.name && answer.createdBy?.surname)" matLine> {{answer?.createdBy}} </h2>
    <app-card-action-buttons [data]="answer" customClass="py-3 text-black-50" matLine></app-card-action-buttons>
    <p matLine [innerHtml]="answer?.answer"></p>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
