@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
}
